.venv/Lib/*
.venv/Scripts/*
config/inference_settings.json
**/__pycache__/
**/review/*
runs/detect/frcnn/*

# YOLO Cache files
*.cache
*.npy
runs/detect/predict**
build/*
dist/PollenCounterStudio/_internal/*
